.stud_dashboard_root {
   height: calc(100vh - 60px);
   background-color: #f2f6f8;
   overflow-y: auto;
}

.dashboard_title {
   background-color: #3a455c;
}

@media (max-width: 768px) {
   .stud_dashboard_root {
      padding: 70px !important;
   }
}
