.sidebar {
   background: #11101d;
   color: white;
   height: 100vh;
}

.top_Section {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.routes {
   color: white;
}

.logo {
   font-size: 18px;
   line-height: 5px;
}

.link {
   display: flex;
   color: white;
   gap: 20px;
   padding: 10px 15px;
   text-decoration: none;
}

.bars {
   padding: 15px;
   font-size: 20px;
}

.link:hover {
   border-right: 4px solid white;
   transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
   background: rgb(45, 51, 89);
}

.link_text {
   white-space: nowrap;
   font-size: 15px;
   text-decoration: none;
}

.icon {
   font-size: 20px;
}

.main_Container {
   display: flex;
   height: 100vh;
}

.main {
   width: 100%;
}
