.createBank_loading {
   height: 100vh;
}

.createBank_root {
   height: calc(100vh - 60px);
   overflow-y: auto;
}

.container_ {
   max-width: 1100px !important;
}

.title_input {
   font-size: 2rem !important;
   height: 5rem !important;
}

.char_counter_title {
   transform: translate(-10px, -75px);
}
