.fact_navbar_root {
   /* background-color: #9c2a22; */

   min-height: 60px;
   /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.nav_link {
   cursor: pointer;
}

.nav_name {
   cursor: default;
}

.logo_container {
   /* background-color: red; */
   height: 40px;
   width: 130px;
   overflow: hidden;
}

.logo_image {
   width: 100%;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

.logo {
   color: rgb(0, 110, 201) !important;
   font-family: "Raleway", sans-serif;
   font-weight: 900;
   font-size: 25px !important;
   position: absolute;
   top: 3px;
}

.profile_pic {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
   overflow: hidden;
   background-color: rgb(126, 126, 126);
}
