.results_container {
   width: 800px;
   height: max-content;
}

.vertical_rule {
   background-color: rgb(0, 110, 201);
   opacity: 0.4;
   min-height: 10px !important;
}

.icon_circle {
   width: 10px;
   height: 10px;
   background-color: rgb(0, 110, 201);
   border-radius: 50%;
   opacity: 0.9;
   display: inline;
}

@media all {
   .page-break {
      display: none;
   }
}

@media print {
   html,
   body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
   }
}

@media print {
   .page-break {
      display: block;
      page-break-before: auto;
   }
}

@page {
   size: auto;
   margin: 12mm;
}
