/* GLOBAL STYLES */

* {
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

body {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow-y: hidden;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
select.form-select:focus {
   outline: 1px solid #0d6efd !important;
   box-shadow: none !important;
   /* border: 1px solid #0d6efd !important; */
}

input.form-control,
textarea.form-control,
#floatingSelect,
select {
   background-color: rgb(242, 245, 248) !important;
   padding: 10px !important;
   /* border: 1px solid rgb(238, 238, 238) !important; */
}

/* FROM CREATE EXAM COMPONENT */
#titleInput[name="title"] {
   padding-bottom: 0px !important;
}

#directionsTextArea {
   padding: 30px 13px !important;
}

#questionTextArea {
   padding: 25px 13px !important;
}

#timeLimitInput {
   padding: 0 !important;
}

#InputEmail,
#Inputfullname,
#InputEmail,
#InputUsername,
#InputPassword,
#InputCPassword,
#floatingSelect,
#InputEmailUsername,
#InputLoginPassword,
#InputExamCode,
#InputOldPassword,
#InputNewPassword,
#InputCPassword,
#InputUsername {
   padding: 25px 13px 13px 13px !important;
}

input[type="file"] {
   padding: 4px 10px !important;
}

button {
   font-size: 15px !important;
   border-radius: 2px !important;
}

.btn-primary {
   background-color: rgb(0, 129, 235) !important;
   /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
   transition: 0.3;
   border-color: rgb(0, 129, 235) !important;
}

.alert-success {
   background-color: rgb(157, 229, 193) !important;
   color: rgb(40, 119, 80) !important;
   border: none;
}

.alert-danger {
   background-color: rgb(248, 180, 172) !important;
   color: rgb(131, 66, 58) !important;
   border: none;
}

.btn-primary:hover {
   /* box-shadow: 0px 10px 20px #012a705b; */
   background-color: rgb(0, 109, 235) !important;
}

.btn-outline-primary:hover {
   background-color: rgb(0, 129, 235) !important;
   border-color: rgb(0, 129, 235) !important;
}

.btn-success {
   background-color: rgb(2, 145, 90) !important;
   /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
   transition: 0.3;
   border-color: rgb(2, 145, 90) !important;
}

.btn-success:hover {
   background-color: rgb(0, 116, 87) !important;
   border-color: rgb(0, 116, 87) !important;
}

/* BOOTSTRAP COLORS */
/* $blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;


$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000; */
