.exam_box {
   /* width: 420px; */
   height: auto;
   height: 240px;
   min-height: 240px;
   cursor: pointer;
}

.action_button {
   cursor: pointer;
}

/* FOR EXAM CODE MODAL */

.body_container {
   width: 100%;
}

.exam_code {
   font-size: 130px !important;
   width: 100%;
   height: 180px;
   border: none;
   outline: none;
   margin: 0;
   cursor: default;
}

/* changes text highlight color to white */
.exam_code::-moz-selection {
   background: white;
}
.exam_code::-webkit-selection {
   background: white;
}
.exam_code::selection {
   background: white;
}

.modal_header {
   border: none;
}

.modal_body {
   border: none;
   padding: 0;
}

.footer {
   border: none;
   margin: 0;
}

.copy_button {
   outline: none;
   border: none;
   padding: 6px 8px;
   border-radius: 5px;
   font-size: 16px;
   position: absolute;
   right: 20px;
}

.tooltip .tooltiptext {
   visibility: hidden;
   width: 140px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px;
   position: absolute;
   z-index: 1;
   bottom: 150%;
   left: 50%;
   margin-left: -75px;
   opacity: 0;
   transition: all 0.3s;
}

.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}

.exam_title:hover {
   text-decoration: underline;
}
